.about-skill{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background_image);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.skill-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.skills-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 520px;
  gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition: 1s;
}
.skills-container{
  background: var(--contact_color_left) ;
  transition: box-shadow 0.2s ease-in-out;
  height: 200px;
  width: 250px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid var(--border_color);
}

.skills-section:hover .skills-container {
  z-index: 1;
  scale: 1.05;
  transition:0.4s ease-in-out;
}

.skills-container .skills-box {
  padding: 16px;
}
.skill-icon{
  margin: 5px;
}
.skill-center {
  position: absolute;
  height: 160px;
  width: 160px;
  background: var(--contact_color_left);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-radius: 108px;
  transition: box-shadow 0.2s ease-in-out;
  border: 2px solid var(--border_color);
}

.skill-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.skill{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.46);
}

.skill-name{
  font-size: 20px;
}
.skill-name-right{
  text-align: right;
  font-size: 20px;
}
.aboutme-heading, .skill-title{
  color: var(--highlighted_text);
  font-size: 34px;
  font-weight: 700;
}
.aboutme{
  width: calc(42% - 40px);
  padding:0px 20px;
  height: 500px;
  background: rgba(255, 255, 255, 0.6);
}
.aboutme-heading{
  display: flex;
  align-items:baseline;
  justify-content: center;
  width: 100%;

}
.aboutme-text{
  color: var(--body_color);
  font-size: 20px;
  line-height: 2rem;
  letter-spacing: 1.8px;
  font-weight: 600;
}
@media screen and (width <= 1000px){
  .skills-container{
    width: calc(100% - 40px);
    margin: 20px;
    height: 200px;
  }
  .skills-section:hover .skills-container {
    z-index: 1;
    scale: unset;
    transition:0.4s ease-in-out;
  }
  .skills-section{
    display: unset;
    width: 100%;
    margin: unset;
  }
  .skill-icon{
    width: 64px;
    height: 51px;
  }
  .skill-name{
    font-size: 20px;
    margin: 10px;
  }
 
  .skill-center{
    display: none;
    height: unset;
    width: unset;
  }
  .skill-part{
    width: 100%;
  }
  .aboutme{
    width: 100%;
    height: unset;
  }
  .aboutme-text{
    text-align: center;
    font-size: 16px;
    line-height: unset;
    letter-spacing: unset;
  }
  .about-skill{
    flex-direction: column;
    padding: 5px;
  }
  .skill-title{
    margin: 30px 0px;
  }
}
@media screen and (width <= 720px){
  
}