.about-skill{
  display: flex;

}
.aboutme{
  width: 50%;
}
.skill-part{
  display: flex;
  justify-content: center;
  width: 50%;
}
.skills-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 520px;
  gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition: 1s;
}
.skills-container{
  background: #f1f3f6;
  box-shadow: inset 0 0 5px rgba(55, 84, 170, 0),
    inset 0 0 10px rgba(255, 255, 255, 0), 5px 5px 9px rgba(55, 84, 170, 0.15),
    -5px -5px 11px white, inset 0px 0px 2px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  height: 250px;
  width: 250px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid #eaeef5;
}

.skills-section:hover .skills-container {
  box-shadow: inset 4px 4px 7px rgba(55, 84, 170, 0.15),
    inset -4px -4px 10px white, 0px 0px 2px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.skills-container .skills-box {
  padding: 16px;
}

.skill-center {
  position: absolute;
  height: 160px;
  width: 160px;
  background: #f1f3f6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-radius: 108px;
  box-shadow: inset 0 0 5px rgba(55, 84, 170, 0),
    inset 0 0 10px rgba(255, 255, 255, 0), 5px 5px 9px rgba(55, 84, 170, 0.15),
    -5px -5px 11px white, inset 0px 0px 2px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  border: 10px solid #e8edf5;
}

.skill-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.skill{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-name{
  font-size: 20px;
}
@media screen and (width <= 550px){
  .skills-container{
    width: 160px;
    height: 160px;
  }
  .skills-section{
    width: 100%;
    margin: unset;
  }
  .skill-icon{
    width: 30px;
    height: 30px;
    scale: 0.6;
  }
  .skill-name{
    font-size: 16px;
  }
  .skill-center{
    display: none;
    height: unset;
    width: unset;
  }
  .skill-part{
    width: 100%;
  }
  .aboutme{
    width: 100%;
  }
  .about-skill{
    flex-direction: column;
  }
}