.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.heading {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

.project-card {
  position: relative;
  flex: 0 1 calc(33.333% - 60px);
  border-radius: 20px;
  background: var(--contact_color_left);
  padding: 15px;
  height: 450px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 30px;
  /* Add margin between cards for better separation */
}

.project-card .project-card-top-section {
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
  position: relative;
}

.project-card-image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.project-card .project-card-bottom-section {
  margin-top: 15px;
  padding: 10px 5px;
  text-align: center;
  /* Center align the content for better UX */
}

.project-card .project-card-bottom-section .project-card-title {
  font-size: 18px;
  /* Increase font size for titles */
  font-weight: bold;
  color: var(--body_color);
  letter-spacing: 2px;
  margin: 10px 0;
  /* Add margin for spacing */
}

.project-card .project-card-bottom-section .project-card-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.project-card .project-card-bottom-section .project-card-row .project-card-item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: var(--body_color);
}
.project-card-buttons{
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  bottom: 0px;
  left: 0px;
}
.custom-button {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background: var(--button_color);
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 50%;
  max-width: 12rem;
  height: auto;
  transition: 4s;
}
.custom-button:hover .project-card-icon {
  transform: rotate(360deg); /* Rotate the icon 360 degrees on hover */
}
.custom-button.learn-more {
  border-radius: 1.5rem;
}
.project-card-icon svg{
  fill: white;
  scale: 2;
}
.custom-button.learn-more .project-card-icon {
  background: var(--icon_color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.custom-button.learn-more .icon {
  color: white;
}

.custom-button.learn-more .button-text {
  padding: 0.5rem;
  color: #282936;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.custom-button:hover .project-card-icon {
  background: var(--icon_hover_color);
}

.custom-button:hover .button-text {
  font-size: 20px;
}


@media screen and (max-width: 900px) {
  .project-card {
    flex: 0 1 calc(50% - 20px);
    min-width: 330px;
  }
}

@media screen and (max-width: 500px) {
  
  .project-card{
    flex: 0 1 calc(100% - 40px);
    margin: 20px 0px;
  }
  .project-card-container{
    width: calc(100% - 20px);
    margin: 10px;
    justify-content: center;
  }

  .custom-button.learn-more .button-text {
    font-size: 14px;
  }
  
  .custom-button.learn-more .project-card-icon {
    width: 2rem;
    height: 2rem;
  }
  .project-card-icon svg{
    scale: 1.5;
  }
}