/* Dark Mode Switch Styles */
.dark_mode {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dark_mode_input.input {
    display: none; /* Hide the default input */
  }
  
  .dark_mode_label {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    cursor: pointer;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC; /* Default background color for the switch */
    transition: background-color 0.4s; /* Smooth transition for background color */
    border-radius: 30px;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8; /* Default knob color */
    transition: transform 0.4s; /* Smooth transition for the knob position */
  }
  
  .sun svg,
  .moon svg {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1;
  }
  
  .sun svg {
    top: 6px;
    left: 36px;
    animation: rotate 15s linear infinite;
  }
  
  .moon svg {
    top: 5px;
    left: 5px;
    fill: #73C0FC; /* Color for the moon icon */
    animation: tilt 5s linear infinite;
  }
  

  .dark_mode:hover .sun svg {
    animation: rotate 15s linear infinite;
  }
  
  .dark_mode:hover .moon svg {
    animation: tilt 5s linear infinite;
  } 
  .dark_mode_input.input:checked + .slider {
    background-color: #183153; /* Change the background color when checked */
  }
  
  .dark_mode_input.input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .dark_mode_input.input:checked + .slider:before {
    transform: translateX(30px); /* Move the knob to the right when checked */
  }
  