.Profile-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--body_gradient);
    padding: 11% 4%;
    height: 100vh;
}
.Profile-img {
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(

        #ff6347,  /* Tomato */
        #ffd700,  /* Gold */
        #40e0d0,  /* Turquoise */
        #9932cc,  /* Dark Orchid */
        #ff8c00,  /* Dark Orange */
        #ff6347,
        #ffd700,
        #40e0d0,
        #9932cc
    );
    background-size: 300% 300%; /* Increased size for a slower transition */
    animation: borderAnimation 10s linear infinite; /* Extended duration for smoother transition */
}

@keyframes borderAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}




.Profile-Image{
    display: flex;
    justify-content: center;
    margin: 0px 40px;
}
.Profile-Right{
    color: var(--body_color);
    line-height: 1.4rem;
    margin: 0px 40px;
    max-width: 500px;
}


.about-heading{
    padding: 5px;
    line-height: 2.5rem;
    letter-spacing: 1.5px;

}
.about-text{
    padding: 5px;
    line-height: 1.5rem;
    font-size: 22px;
}
.social-icons{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    transition: all 0s;
}
.social-icons a{

    font-size: 3rem;
    color:var(--body_color);
    transition: color 0s;
}
.social-icon-1:hover {
    color: #50f6f9;
  }

  .social-icon-2:hover {
    color: #ee008b;
  }

  .social-icon-3:hover {
    color: #25f497;
  }
 
  .social-icon-4:hover {
    color: #0f6fe4; 
    transition: color 0s; 
  }
.highlighted{
    color: var(--highlighted_text);
    font-weight: 900;
    
}

@media (max-width: 768px) {
    .Profile-Container{
        flex-direction: column-reverse;
    }
    .Profile-img{
        width: 80%;
    }
    .Profile-Image{
        margin: 20px 0px;
        padding: 15px;
    }
    .Profile-Right{
        text-align: center;
        margin: unset;
    }
    .about-heading{
        padding: 0px;
    }
    .about-text{
        padding: 0px;
        font-size: 16px;
    }
    .social-icons{
        flex-wrap: wrap;
    }
    .social-icons a{
        margin: 5px 0px;
    }
    .about-heading{
        padding: 2px;
        line-height: 2rem;
        letter-spacing: unset;
    }
}

