.navbar {
    display: flex;
    z-index: 100;
    position: fixed;
    width: 100%;
    font-weight: 700;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-opaque {
    background-color: var(--nav_color);
}

/* Additional Styling */
.navbar .navbar-toggler {
    border: none;
}
.navbar-toggler-icon{
    color: var(--body_color);
}
.nav-link {
    left: 20;
    color: var(--body_color);
    letter-spacing: 1.4px;
    margin: 0 20px;
}

.navbar-brand {
    padding: 0 40px;
    color: var(--body_color);
}
.navbar-collapse{
    flex-grow: unset;
}
.navbar-brand:hover, .navbar-nav .nav-link.show, .navbar-nav .nav-link:hover {
    color: #00ffde;
}
.navbar-nav .nav-link.active {
    color: #00ffde;
    border: 1px solid white; /* Sets the border to white and specifies its width and style */
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .navbar {
        transition: background-color 0.3s;
    }

    .navbar-opaque {
        background-color: var(--nav_color);
    }

    .navbar-collapse {
        background-color: var(--nav_color);
        transition: height 0.3s;
    }

    .navbar-toggler {
        border: none;
        color: var(--body_color);
    }
}
